.landing-page {
  display: flex;
  padding: 20px;
  background-image: url('../assets/apps.63170.14246812968525544.2de1e6fd-94a7-4291-88ea-6803f279b4ed.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000000;
}

.navigation-bar {
  width: 80px;
  background-color: #2d2d2d;
  border-radius: 15px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 80vh;  /* Altura ajustada al 80% de la ventana */
}

.navigation-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navigation-bar li {
  text-align: center;
  margin-bottom: 20px;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.icon {
  font-size: 1.9rem;
  color: white;
}

.user_icon {
  font-size: 2.5rem;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.main-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-left: 75px;
}

@media screen and (max-width: 1920px) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "about-you library"
      "friends whats-new"
      "deals-of-today ubisoft-plus";
  }
}

@media screen and (max-width: 1080px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "about-you"
      "library"
      "friends"
      "whats-new"
      "deals-of-today"
      "ubisoft-plus";
    margin-left: 20px;
  }

  .navigation-bar {
    width: 60px;
    left: 10px;
  }

  .icon {
    font-size: 1.5rem;
  }

  .user_icon {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .landing-page {
    padding: 10px;
  }

  .navigation-bar {
    width: 50px;
    height: 400px;
  }
}

.about-you { grid-area: about-you; }
.library { grid-area: library; }
.friends { grid-area: friends; }
.whats-new { grid-area: whats-new; }
.deals-of-today { grid-area: deals-of-today; }
.ubisoft-plus { grid-area: ubisoft-plus; }

.about-you, .library, .friends, .whats-new, .deals-of-today, .ubisoft-plus {
  background-color: #2d2d2d;
  border-radius: 15px;
  padding: 20px;
  color: white;
  min-height: 300px;  
  min-width: 300px;   
  height: auto;      
margin-left: 20px; /* Espacio entre las cajas */
  transition: all 0.3s ease;
  box-sizing: border-box; /* Incluye padding en el cálculo del tamaño */
}

.text-wrapper-3, .text-wrapper-7, .text-wrapper-11, .text-wrapper-10, .text-wrapper-12 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: #FFFFFF;
}

